body{
    font-family: 'Lato', sans-serif;
}

/* Nav Bar */
#sign-in-btn{
    background-color: white;
    color: blue;
    border: blue solid 1px;
    width: 100px;
}

#try-it-btn{
    color: white;
    border: blue solid 1px;
    background-color: blue;
}

#nav-ul{
    font-size: 85%;
    width: 100%;
}

#nav-ul li>a{
    color: black;
}

#double-button{
    width: 50%;
}

/* Nav Header (Text and Picture) */
#second-header{
    margin-right: 0;
}

#focus-panel{
    padding: 6% 0 0 75px;
}

#focus-panel span{
    font-weight: bold;
}

#focus-panel p>a{
    text-decoration: none;
    font-weight: bold;
    color: grey;
}

#focus{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.25;
}

#let-us{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

#subscription{
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: grey;
}

#panel-sign-up{
    color: white;
    border: blue solid 1px;
    background-color: blue;
    border-radius: 5px;
    width: 40%;
    height: auto;
    font-weight: bold;
}

#chat{
    background-color: white;
    color: blue;
    border: blue solid 1px;
    border-radius: 5px;
    width: 40%;
    font-weight: bold;
    padding: 0;
    text-align: center;
}

#pic-panel img{
    width: 100%;
}

#blue-ell{
    width: 32px;
}

/* Grey Line under header */
#custom-container{
    width: 60%;
}


#how-it-works-text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;  
}

#first-lorem {
    margin-bottom: 30px;
}

#second-lorem {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-weight: bold;
}

#useful-info {
    border:solid 1px grey;
    border-radius: 30px;
    color: white;
    width: 70%;
    height: 70%;
    
}
#useful-text{
    margin-top: 10%;
    margin-bottom: 50px;
    margin-right: 15%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#useful {
    background-color: blue;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


#get-paid {
    border-radius: 30px;
    color: white;
    margin-bottom: 80px;
    width: 70%;
    height: 70%;
}

#get-paid-text {
    background-color: blue;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

#get-paid-header {
    margin-top: 15%;
    margin-bottom: 80px;

}


.footer {
    display: flex;
    background-color: blue;
    width: 100%;
    height: auto;
    padding: 2%;
    color: white;
    justify-items: center
}

.footer-contents{
    display: flex;
    flex-direction:column;
    flex-flow: column;
    align-items: center;
    position: relative;
}

.footer-contents>h2{
    text-align: center;
    display: flex;
}

span{
    color: white;
    font-size: 100%;
}

.green-btn{
    background-color: lime;
}

.white-btn{
    background-color: white;
    color: blue;
}

.icon {
    background-image: url("img/Main/icons8-chat-bubble-32.png") no-repeat;
    height: 12px;
    width: 12px;
}