body{
    font-family: 'Lato', sans-serif;
}

/* Nav Bar */
#sign-in-btn{
    background-color: white;
    color: blue;
    border: blue solid 1px;
    width: 100px;
}

#try-it-btn{
    color: white;
    border: blue solid 1px;
    background-color: blue;
}

#nav-ul{
    font-size: 85%;
    width: 100%;
}

#nav-ul li>a{
    color: black;
}

#double-button{
    width: 50%;
}

.sign-in-txt-box{
    width: 50%;
}

.social-icon{
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    width: 50px;
    height: 50px;
}

.sign-in-btn{
    width: 20%;

.accountyet{
margin: 6px;
text-align: center;

}

#button1{
width: 130px;
background-color: white;
color: blue;
border-radius: 10px;
margin-left: 140px;
}

#button2{
width: 130px;
}
#rocket{
width:70%;
margin-left: 100px;
}