body{
    font-family: 'Lato', sans-serif;
}

/* Nav Bar */
#sign-in-btn{
    background-color: white;
    color: blue;
    border: blue solid 1px;
    width: 100px;
}

#try-it-btn{
    color: white;
    border: blue solid 1px;
    background-color: blue;
    width: 100%;    
}

#nav-ul{
    font-size: 85%;
    width: 100%;
}

#nav-ul li>a{
    color: black;
}


#double-button{
    width: 50%;
}


.sign-in-txt-box{
    width: 50%;
}

.social-icon{
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    width: 50px;
    height: 50px;
}

.sign-in-btn{
    width: 20%;

.accountyet{
margin: 6px;
text-align: center;

}

#button1{
width: 130px;
background-color: white;
color: blue;
border-radius: 10px;
margin-left: 140px;
}

#button2{
width: 130px;
}
#rocket{
width:70%;
margin-left: 100px;
}

.footer {
    display: flex;
    background-color: blue;
    width: 100%;
    height: auto;
    padding: 2%;
    color: white;
    justify-items: center
}

.footer-contents{
    display: flex;
    flex-direction:column;
    flex-flow: column;
    align-items: center;
    position: relative;
}

.footer-contents>h2{
    text-align: center;
    display: flex;
}

span{
    color: white;
    font-size: 100%;
}

.green-btn{
    background-color: lime;
}

.white-btn{
    background-color: white;
    color: blue;
}

.icon {
    background-image: url("img/Main/icons8-chat-bubble-32.png") no-repeat;
    height: 12px;
    width: 12px;
}

@media(min-width: 991px) and (max-width: 1200px){
    #nav-ul{
        font-size: 65%;
    }
}